apiVersion: v1
kind: Service
metadata:
  name: {{ include "test-nginx1.fullname" . }}-service
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ include "test-nginx1.fullname" . }}